<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qianfeng.mymac.djtu">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity_content.NewsContentActivity" />
        <activity android:name=".activity_function.DiscoverActivity" />
        <activity android:name=".activity_function.GradeActivity" />
        <activity android:name=".activity_function.CourseActivity" />
        <activity android:name=".activity_function.LostActivity" />
        <activity android:name=".activity_function.BusActivity" />
        <activity android:name=".activity_function.MapActivity" />
        <activity android:name=".activity_function.IntroActivity" />
        <activity android:name=".activity_function.LogoActivity" />
        <activity android:name=".activity_function.LeaderActivity" />
        <activity android:name=".activity_function.SceneActivity" />
        <activity android:name=".activity_function.MajorActivity" />
        <activity android:name=".activity_function.ContactActivity" />
        <activity android:name=".activity_content.Discover1_ContentActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity_function.NewsActivity" />
        <activity android:name=".activity_content.ChangeActivity"></activity>
    </application>

</manifest>